@font-face {
  font-family: 'French Kiss';
  font-style: normal;
  font-weight: bold;
  src: url("./static/fonts/FrenchKissscript.ttf");
}

@font-face {
  font-family: 'Oranienbaum Regular';
  font-style: normal;
  font-weight: bold;
  src: url("./static/fonts/Oranienbaum-Regular.ttf");
}
